<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <title>Berhasil Tambah Tugas</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar (${'/tambah-tugas'})"></nav>
<div class="container">
  <div class="m-4 p-5 shadow p-2 mb-5 rounded" style="background-color: #F9F6F6;">
    <div class="justify-content-center">
      <h2 th:text="'Tugas baru dengan nama ' + ${tugas.nama} + ' berhasil ditambahkan.'"></h2>
      <br>
      <a class="btn btn-secondary" href="/">Kembali</a>
    </div>
  </div>
</div>]
</body>
</html>